---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Educacion from '../components/Educacion.astro'
---

<Layout title="Jaasiel Beltrán|Website">
	<main class="max-w-[1200px] mt-6 w-full">
		<Title/>
		<Educacion/>
	</main>
</Layout>

<style>
	
</style>
