---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Educacion from '../components/Educacion.astro'
import StackSection from '../components/StackSection.astro'
import Proyectos from '../components/Proyectos.astro'
import Header from '../components/Header.astro'
---

<Layout title="Jaasiel Beltrán | Website">
  <Header />
  <main class="max-w-[1000px] my-6 w-full">
    <Title />
    <Educacion />
    <StackSection />
    <Proyectos />
  </main>
</Layout>
