---
import Layout from '../layouts/Layout.astro'
import Title from './Title.astro'
import Educacion from './Educacion.astro'
import StackSection from './StackSection.astro'
import Proyectos from './Proyectos.astro'
import Header from './Header.astro'
import Footer from './Footer.astro'
---

<Layout title="Jaasiel Beltrán | Website">
  <Header />
  <main class="max-w-[1000px] mt-6 w-full">
    <Title />
    <StackSection />
    <Proyectos />
    <Educacion />
    <Footer />
  </main>
</Layout>
