---
const { imagen, titulo, descripcion, enlace } = Astro.props
---

<a
  href={enlace}
  target="_blank"
  class="card bg-[--bg-100] text-[--text-100] h-96 w-72 shadow-sm shadow-[--primary-100] my-2 cursor-pointer hover:shadow-md hover:shadow-[--primary-100] transition-shadow"
>
  <figure>
    <img src={imagen} class="w-full" />
  </figure>
  <div class="card-body flex-1">
    <h3 class="card-title">
      {titulo}
    </h3>
    <p class="text-[--text-200] line-clamp-3 text-pretty">
      {descripcion}
    </p>
  </div>
</a>
