<section
  class="flex flex-col items-center justify-center mt-7 p-5"
  id="educacion"
>
  <h2
    class="text-4xl w-full text-[--text-100] flex items-center gap-2 font-medium justify-center lg:justify-start"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-school"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
      <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
    </svg>
    Educación
  </h2>
  <div class="w-full mt-5  flex items-center justify-center lg:justify-start">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-4">
        <div
          class="absolute size-3 bg-[--primary-200] rounded-full mt-1.5 -start-1.5 border border-[--primary-200] dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time class="mb-1 text-sm leading-none font-medium text-[--primary-300]"
          >Enero 2023 ~ actualmente</time
        >
        <h3 class="text-lg lg:text-3xl font-semibold text-[--text-100]">
          Universidad Central Marta Abreu de las Villas.
        </h3>
        <p class="mb-4 text-base font-normal text-[--text-200]">
          Ingeniería en Telecomunicaciones y Electrónica (Curso por encuentros).
        </p>
      </li>
      <li class="mb-10 ms-4">
        <div
          class="absolute size-3 bg-[--primary-200] rounded-full mt-1.5 -start-1.5 border border-[--primary-200] dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time class="mb-1 text-sm leading-none font-medium text-[--primary-300]"
          >Enero 2022 ~ actualmente</time
        >
        <h3 class="text-lg lg:text-3xl font-semibold text-[--text-100]">
          Escuela de idiomas "Miguel de Cervantes Saavedra".
        </h3>
        <p class="mb-4 text-base font-normal text-[--text-200]">
          Certificado idioma inglés (B1).
        </p>
      </li>
      <li class="ms-4">
        <div
          class="absolute size-3 bg-[--primary-200] rounded-full mt-1.5 -start-1.5 border border-[--primary-200] dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time class="mb-1 text-sm leading-none font-medium text-[--primary-300]"
          >Septiembre 2018 ~ Julio 2022</time
        >
        <h3 class="text-lg lg:text-3xl font-semibold text-[--text-100]">
          Instituto Politécnico Industrial "Raúl Suárez Martínez".
        </h3>
        <p class="mb-4 text-base font-normal text-[--text-200]">
          Técnico Medio en Informática.
        </p>
      </li>
    </ol>
  </div>
</section>
