<footer
  class="bg-[--bg-200] p-5 flex flex-col justify-center items-center sm:flex-row sm:justify-between text-[--text-200] mt-7"
>
  <span>Hecho por Jaasiel Beltrán</span>
  <div class="items-center justify-center gap-2 flex">
    <a
      href="https://x.com/jaasi_dev"
      target="_blank"
      class="hover:text-[--primary-200] transition-colors"
      aria-label="Ir a X"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-x"
        width="33"
        height="33"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
        <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
      </svg>
    </a>
    <a
      href="https://www.linkedin.com/in/jaasiel-beltr%C3%A1n-alvarez-b3b3b5258"
      target="_blank"
      class="hover:text-[--primary-200] transition-colors"
      aria-label="Ir a LinkedIn"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-linkedin"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
        ></path>
        <path d="M8 11l0 5"></path>
        <path d="M8 8l0 .01"></path>
        <path d="M12 16l0 -5"></path>
        <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
      </svg>
    </a>
  </div>
</footer>
