<header
  class="flex items-center justify-center w-full shadow-sm sticky top-0 left-0 right-0 bg-white backdrop-blur-md bg-opacity-35 z-50"
>
  <nav class="max-w-[1200px] flex items-center justify-between p-5 w-full">
    <a href="#" class="text-[--text-100]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-code"
        width="33"
        height="33"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M7 8l-4 4l4 4"></path>
        <path d="M17 8l4 4l-4 4"></path>
        <path d="M14 4l-4 16"></path>
      </svg>
    </a>
    <ul
      class="flex items-center justify-center text-lg text-[--text-200] gap-3"
    >
      <li>
        <a href="#"> Inicio </a>
      </li>
      <li>
        <a href="#educacion"> Educación </a>
      </li>
      <li>
        <a href="#habilidades"> Habilidades </a>
      </li>
      <li>
        <a href="#proyectos"> Proyectos </a>
      </li>
    </ul>
  </nav>
</header>
