<header
  class="flex items-center justify-center w-full shadow-sm sticky top-0 left-0 right-0 bg-white backdrop-blur-md bg-opacity-35 z-50"
>
  <nav
    class="max-w-[1200px] items-center justify-between p-5 w-full hidden md:flex"
  >
    <a href="#" class="text-[--text-100]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-code"
        width="33"
        height="33"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M7 8l-4 4l4 4"></path>
        <path d="M17 8l4 4l-4 4"></path>
        <path d="M14 4l-4 16"></path>
      </svg>
    </a>
    <ul
      class="flex items-center justify-center text-lg text-[--text-200] gap-3"
    >
      <li>
        <a class="hover:text-[--primary-100] transition-colors" href="#">
          Inicio
        </a>
      </li>
      <li>
        <a
          class="hover:text-[--primary-100] transition-colors"
          href="#educacion"
        >
          Educación
        </a>
      </li>
      <li>
        <a
          class="hover:text-[--primary-100] transition-colors"
          href="#habilidades"
        >
          Habilidades
        </a>
      </li>
      <li>
        <a
          class="hover:text-[--primary-100] transition-colors"
          href="#proyectos"
        >
          Proyectos
        </a>
      </li>
    </ul>
  </nav>
  <nav class="p-5 w-full text-[--text-100] md:hidden">
    <input type="checkbox" id="nav-mobile" hidden />
    <label for="nav-mobile"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-2"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
      </svg></label
    >
    <div
      class="transition-all fixed top-0 left-[-100%] right-0 bottom-0 w-screen h-screen bg-transparent backdrop-blur-md"
    >
      <div
        class="bg-[--bg-100] h-screen w-[300px] sm:w-[400px] sm:text-3xl text-2xl font-medium flex flex-col gap-2 shadow-screen opacity-0 transition-opacity relative text-[--text-100]"
      >
        <label for="nav-mobile" class="absolute top-4 left-4"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-x"
            width="33"
            height="33"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
          </svg></label
        >
        <ul class="ml-10 mt-16 flex flex-col gap-3">
          <li>
            <a href="#" data-item class="flex items-center gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-home"
                width="25"
                height="25"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
              </svg>
              Inicio
            </a>
          </li>
          <li>
            <a href="#educacion" data-item class="flex items-center gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-school"
                width="25"
                height="25"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
              </svg> Educación
            </a>
          </li>
          <li>
            <a href="#habilidades" data-item class="flex items-center gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-tools"
                width="25"
                height="25"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
                <path d="M14.5 5.5l4 4"></path>
                <path d="M12 8l-5 -5l-4 4l5 5"></path>
                <path d="M7 8l-1.5 1.5"></path>
                <path d="M16 12l5 5l-4 4l-5 -5"></path>
                <path d="M16 17l-1.5 1.5"></path>
              </svg> Habilidades
            </a>
          </li>
          <li>
            <a href="#proyectos" data-item class="flex items-center gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-device-desktop-code"
                width="25"
                height="25"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12.5 16h-8.5a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v8"
                ></path>
                <path d="M7 20h4"></path>
                <path d="M9 16v4"></path>
                <path d="M20 21l2 -2l-2 -2"></path>
                <path d="M17 17l-2 2l2 2"></path>
              </svg> Proyectos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<style>
  .shadow-screen {
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.45);
  }
  nav input:checked ~ div {
    left: 0;
  }
  nav input:checked ~ div div {
    opacity: 1;
  }
</style>
<script>
  const check = document.getElementById('nav-mobile')
  const item = document.querySelectorAll('[data-item]')

  item.forEach((value) => {
    value.addEventListener('click', () => {
      check.checked = false
    })
  })
</script>
