---
import Carditem from './Carditem.astro'
---

<section class="p-5 mt-10" id="proyectos">
  <h2
    class="text-[--text-100] text-4xl font-medium mb-3 flex items-center gap-2 justify-center lg:justify-start"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-device-desktop-code"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M12.5 16h-8.5a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v8"
      ></path>
      <path d="M7 20h4"></path>
      <path d="M9 16v4"></path>
      <path d="M20 21l2 -2l-2 -2"></path>
      <path d="M17 17l-2 2l2 2"></path>
    </svg>
    Proyectos
  </h2>
  <div class="flex items-center justify-evenly mt-4 gap-4 flex-wrap">
    <Carditem
      imagen="/src/assets/weather.png"
      titulo="Jasweather"
      descripcion="Web para conocer el tiempo y las estadísticas actualizadas en tiempo real del clima."
      tags={['React', 'TailwindCss']}
    />
    <Carditem
      imagen="/src/assets/board.png"
      titulo="Jasboard"
      descripcion="Board estilo trello para organizar tus tareas y pendientes en diferentes listas reordenables"
      tags={['React', 'TailwindCss']}
    />
    <Carditem
      imagen="/src/assets/escuela.png"
      titulo="Miguel de Cervantes"
      descripcion="Página web informativa sobre la escuela de idiomas 'Miguel de Cervantes Saavedra'."
      tags={['Astro', 'TailwindCss']}
    />
  </div>
</section>
