---
import StackItem from './StackItem.astro'
---

<section>
  <h2 class="text-[--primary-100] text-3xl mb-3">Habilidades Técnicas</h2>
  <div class="flex items-center gap-4 flex-wrap">
    <StackItem titulo="HTML" imagen="/src/assets/html5.svg" />
    <StackItem titulo="CSS" imagen="/src/assets/css.svg" />
    <StackItem titulo="Javascript" imagen="/src/assets/javascript.svg" />
    <StackItem titulo="TailwindCSS" imagen="/src/assets/tailwindcss.svg" />
    <StackItem titulo="React" imagen="/src/assets/react.svg" />
    <StackItem titulo="Astro" imagen="/src/assets/astro.svg" />
  </div>
</section>
