---
const { titulo, imagen } = Astro.props
---

<article
  class="flex flex-col items-center justify-center py-5 px-9 bg-[--bg-200] border border-[--primary-100] shadow-sm shadow-[--primary-100] rounded-md w-40 h-36 gap-2"
>
  <div>
    <img src={imagen} class="size-14" />
  </div>
  <span class="text-[--text-100] font-medium text-center">
    {titulo}
  </span>
</article>
