<section class=" border-b border-b-[--primary-100] gap-5 p-7 flex items-center justify-center w-full">
    <div class="flex-0">
        <img src="/src/assets/user-photo.jpg" class="size-52 rounded-full"/>
    </div>
    <div class="flex-1">
        <h1 class="text-6xl text-[--primary-100] w-full my-1 font-medium" >
            Jaasiel Beltrán Alvarez
        </h1>
        <span class="text-2xl text-[--accent-200] ml-3 w-full">
            Desarrollador Frontend 
        </span>
        <div class="flex items-center w-full mt-4 gap-3">
            <a href="#" class="btn bg-[--primary-100] border-[--primary-100] text-white hover:bg-[--bg-100] hover:text-[--primary-100] hover:border-[--primary-100]">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-cv" width="33" height="33" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                    <path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
                    <path d="M13 11l1.5 6l1.5 -6" />
                </svg>
                  Obtener CV
            </a>
            <a href="#" class="btn btn-circle bg-[--bg-100] text-[--primary-100] p-2 border-[--primary-100] hover:text-white hover:bg-[--primary-100] hover:border-[--primary-100]">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="33" height="33" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                  </svg>
            </a>
        </div>
    </div>
</section>