---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root{
	--primary-100:#FF6600;
    --primary-200:#ff983f;
    --primary-300:#ffffa1;
    --accent-100:#F5F5F5;
    --accent-200:#929292;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#1D1F21;
    --bg-200:#2c2e30;
    --bg-300:#444648;
	}
</style>
